@import "partials/settings";
@import "partials/reset";

// global variables

$dark-gray: #2C2C2E;
$light-gray: #5E5F62;
$date-color-gray: #97989C;
$hover-color: #F28218;
$plus-color: #9F3418;

body{
  background-image: url(../assets/bg.jpg);
  font-family: "Lato", sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Oswald", sans-serif;
}

h2{
  font-size: 24px;
  margin-top: 7px;
  line-height: 1.3em;
  max-height: 2.6em;
  overflow: hidden;
}

.top{
  background: white;
  position: relative;
}

.description{ 
  font-size: 17px;
  font-weight: 100;
  line-height: 1.4em;
}

.nav{
  background: $dark-gray;
  height: 40px;
  
  ul{
    list-style-type: none;
    text-align: center;
    padding: 8px;
    background: $dark-gray;
    word-spacing: 2px;

    @media #{$small-only}{
      padding: 0;
    }
  
    li{
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      display: inline;
      color: $light-gray; 
      font-size: 18px;  
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 2.5;


      @media #{$small-only}{
        width: 32%;
        display: inline-block;
        box-sizing: border-box;

      }  
      
      @media #{$medium-up}{

        &:before{
          content: " ";
          width: 5px;
          height: 5px;
          display: inline-block;
          background-color: $light-gray;
          border-radius: 100%;
          position: relative;
          top: -4px;
          margin-right: 8px;
          margin-left: 8px;
        }
          
        &:first-child:before{
          display: none;
        }   
      }
      
      a{
        color: $light-gray;
        text-decoration: none;

        &:hover{
          color: $hover-color;
        }//hover
      } 
    }//li
  }//ul
} //nav

.boards{
  @media #{$small-only}{
    // height: 30px;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
}


.logo{
  background-image: url(../assets/logo.svg);
  background-repeat: no-repeat;

  @media #{$small-only}{
    height: 50px;

  }
}

.wings{
  margin: auto;

  @media #{$medium-up}{
    background-image: url(../assets/header_bg.svg);
    background-repeat: no-repeat;
    height: 50px;
    background-position: center;
  }
}


.logo{
  @media #{$medium-up}{
    background-image: url(../assets/logo.svg);
      background-repeat: no-repeat;
      height: 50px;
      background-position: center;
  }
}  


main{
   margin-top: 15px;
}


a.sign{
    background-color: white;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: $plus-color;
    margin-right: 20px;
    border: 2px solid $hover-color;
    padding: 0px 3px 3px;
    line-height: 22px;

    &:hover{
      background-color: $hover-color;
      color: white;
    }
}


.container{
  max-width: 833px; 
  margin: auto;
  margin-top: 25px;

  @media #{$medium-up}{
    margin-top: 40px;
  }
}

.box{
  background: white;
  float: left;
  max-width: 400px;
  width: 48%;
  display: block;
  height: 465px;
  margin: 0 1% 20px;
  padding: 25px;
  box-sizing: border-box;
  border: 3px solid white;

  @media #{$large-up}{
    &:hover{
      border: 3px solid $hover-color;
    }
  }  

  @media #{$small-only}{
    width: 100%;
    float: none;
    margin: auto;
    margin-bottom: 15px;
  } 
}

.boximage{
  background: green;
  background-image: url('http://placekitten.com/g/200/300');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
  width: 100%;
}

.who{
  color: $date-color-gray;
  line-height: 2em;
}

.date{
  color: $date-color-gray;

  &.date:before{
    content: " ";
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: $light-gray;
    border-radius: 100%;
    position: relative;
    top: -4px;
    margin-right: 8px;
    margin-left: 8px;
  }
}

.views{
  color: $date-color-gray;

  &.views:before{
    content: " ";
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: $light-gray;
    border-radius: 100%;
    position: relative;
    top: -4px;
    margin-right: 8px;
    margin-left: 8px;
  }
}

.footer{
  background: $dark-gray;
  height: 50px;

   @media #{$small-only}{
    display: none;
   }
}

.socialwrapper{
  text-align: center;
  padding: 12px;

}
a.icon{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  
  span{
    display: none;
  }

  &.fb{
    background-image: url(../assets/facebook_grey.svg);
  }

  &.ig{
    background-image: url(../assets/instagram_grey.svg);

    &:hover{
      background-image: url(../assets/instagram_orange.svg);
    }
  }      
}


