/* media query ranges */
$small-only: "only screen and (max-width:640px)";
$medium-down: "only screen and (max-width: 960px)";
$medium-only: "only screen and (min-width: 641px) and (max-width: 960px)";
$medium-up: "only screen and (min-width:641px)";
$large-up: "only screen and (min-width:641px)";