/* media query ranges */
/* clearfix style  */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* css reset */
/* * Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url(../assets/bg.jpg);
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif; }

h2 {
  font-size: 24px;
  margin-top: 7px;
  line-height: 1.3em;
  max-height: 2.6em;
  overflow: hidden; }

.top {
  background: white;
  position: relative; }

.description {
  font-size: 17px;
  font-weight: 100;
  line-height: 1.4em; }

.nav {
  background: #2C2C2E;
  height: 40px; }
  .nav ul {
    list-style-type: none;
    text-align: center;
    padding: 8px;
    background: #2C2C2E;
    word-spacing: 2px; }
    @media only screen and (max-width:640px) {
      .nav ul {
        padding: 0; } }
    .nav ul li {
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      display: inline;
      color: #5E5F62;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 2.5; }
      @media only screen and (max-width:640px) {
        .nav ul li {
          width: 32%;
          display: inline-block;
          box-sizing: border-box; } }
      @media only screen and (min-width:641px) {
        .nav ul li:before {
          content: " ";
          width: 5px;
          height: 5px;
          display: inline-block;
          background-color: #5E5F62;
          border-radius: 100%;
          position: relative;
          top: -4px;
          margin-right: 8px;
          margin-left: 8px; }
        .nav ul li:first-child:before {
          display: none; } }
      .nav ul li a {
        color: #5E5F62;
        text-decoration: none; }
        .nav ul li a:hover {
          color: #F28218; }

@media only screen and (max-width:640px) {
  .boards {
    border-left: 1px solid white;
    border-right: 1px solid white; } }

.logo {
  background-image: url(../assets/logo.svg);
  background-repeat: no-repeat; }
  @media only screen and (max-width:640px) {
    .logo {
      height: 50px; } }

.wings {
  margin: auto; }
  @media only screen and (min-width:641px) {
    .wings {
      background-image: url(../assets/header_bg.svg);
      background-repeat: no-repeat;
      height: 50px;
      background-position: center; } }

@media only screen and (min-width:641px) {
  .logo {
    background-image: url(../assets/logo.svg);
    background-repeat: no-repeat;
    height: 50px;
    background-position: center; } }

main {
  margin-top: 15px; }

a.sign {
  background-color: white;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  color: #9F3418;
  margin-right: 20px;
  border: 2px solid #F28218;
  padding: 0px 3px 3px;
  line-height: 22px; }
  a.sign:hover {
    background-color: #F28218;
    color: white; }

.container {
  max-width: 833px;
  margin: auto;
  margin-top: 25px; }
  @media only screen and (min-width:641px) {
    .container {
      margin-top: 40px; } }

.box {
  background: white;
  float: left;
  max-width: 400px;
  width: 48%;
  display: block;
  height: 465px;
  margin: 0 1% 20px;
  padding: 25px;
  box-sizing: border-box;
  border: 3px solid white; }
  @media only screen and (min-width:641px) {
    .box:hover {
      border: 3px solid #F28218; } }
  @media only screen and (max-width:640px) {
    .box {
      width: 100%;
      float: none;
      margin: auto;
      margin-bottom: 15px; } }

.boximage {
  background: green;
  background-image: url('http://placekitten.com/g/200/300');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
  width: 100%; }

.who {
  color: #97989C;
  line-height: 2em; }

.date {
  color: #97989C; }
  .date.date:before {
    content: " ";
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #5E5F62;
    border-radius: 100%;
    position: relative;
    top: -4px;
    margin-right: 8px;
    margin-left: 8px; }

.views {
  color: #97989C; }
  .views.views:before {
    content: " ";
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #5E5F62;
    border-radius: 100%;
    position: relative;
    top: -4px;
    margin-right: 8px;
    margin-left: 8px; }

.footer {
  background: #2C2C2E;
  height: 50px; }
  @media only screen and (max-width:640px) {
    .footer {
      display: none; } }

.socialwrapper {
  text-align: center;
  padding: 12px; }

a.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat; }
  a.icon span {
    display: none; }
  a.icon.fb {
    background-image: url(../assets/facebook_grey.svg); }
  a.icon.ig {
    background-image: url(../assets/instagram_grey.svg); }
    a.icon.ig:hover {
      background-image: url(../assets/instagram_orange.svg); }
